:root {
  --rose-mauve: #f08e7f;
  --dusty-blue: #6da0bf;
  --dark-grey: #5D6063;
  --debug: red solid 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  font-size: 18px;
  font-family: "Bookman Old Style";
  color: var(--dark-grey);
  margin: 100px;
  background-color: #f4f4f4;
}

.content {
  max-width: 1000px;
  height: 100%;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: #e0e0e0 solid 2px;
}

.content>hr {
  border-top: var(--dusty-blue) solid 1px;
  width: 80%;
}

.names, .names:hover, .names:visited {
  font-family: "Bookman Old Style";
  color: var(--rose-mauve);
  font-size: 3em;
  margin: 1em;
  margin-bottom: .5em;
  text-decoration: none;
}

.page-image {
  margin: 1.3em;
  width: 80%;
  border: var(--dusty-blue) solid 3px;
}

/*    Menu    */
.navbar {
  flex-direction: column;
  width: 100%;
  align-items: left;
  border-radius: 3em;
  border-top: var(--dusty-blue) solid 1px;
  border-bottom: var(--dusty-blue) double 5px;
}

.collapse {
  width: 100%;
  justify-content: center;
}

.navbar-nav {
  width: 70%;
  justify-content: space-between;
}

.bg-light {
  background-color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--dusty-blue) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark-grey);
}

.navbar-light .navbar-nav .active .nav-link {
  color: var(--dusty-blue) !important;
  padding-bottom: .1em;
  border-bottom: var(--dusty-blue) dotted 2px;
}

/* Footer */
.footer {
  display: flex;
  width: 1000px;
  margin: auto;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.registry {
  color: var(--dark-grey);
  text-decoration: none;
  margin-left: 2em;
}

.footer .registry:hover {
  color: var(--dusty-blue);
}

.footer>a>img {
  width: 3em;
  margin-right: 2em;
}

/* Invitation */
.invitation {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  color: var(--dusty-blue);
}

.invitation>* {
  margin: .1em;
}

.invitation-names {
  color: var(--dark-grey);
  text-align: center;
  padding: .5em 0 0 1em;
  margin: 3em;
  border-top: var(--dark-grey) solid 1px;
  border-bottom: var(--dark-grey) solid 1px;
  border-radius: 2em 0 2em 0;
}

.invitation>h1 {
  color: var(--dark-grey);
}

.invitation>p {
  font-size: 1.2em;
}

.invitation-fancy-text {
  border-bottom: var(--dusty-blue) solid 1px;
  border-top: var(--dusty-blue) solid 1px;
  padding-left: 5%;
  padding-right: 5%;
  font-style: italic;
  color: var(--dusty-blue);
  margin: 1em;
}

.date {
  width: 40%;
  height: 11em;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 25% 25% 25% 25%;
  color: var(--dark-grey);
  margin: 2em;
}

.M {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-size: 6em;
}

.ay {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 2.4em;
  position: relative;
  bottom: .7em;
  left: .3em;
}

.ninth {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 2.8em;
  position: relative;
  bottom: .8em;
  left: .25em;
}

.ninth>.invitation-fancy-text,
.fifteenth>.invitation-fancy-text {
  font-style: italic;
  font-size: .6em;
  position: relative;
  bottom: .15em;
  right: 1em;
  border-color: var(--dark-grey);
  color: var(--dark-grey);
}

.year {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  font-size: 3em;
  position: relative;
  top: .1em;
}

/* Events */
.vr {
  height: 80%;
  margin-top: 2em;
  width: 0;
  border-left: var(--rose-mauve) solid 1px;
}

.event-invite {
  margin: 2em;
  font-size: 1.2em;
}

.events {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin-bottom: 3em;
}

.event {
  justify-content: flex-start;
}

.event>h1 {
  margin-top: 1.5em;
}

.event>p>strong {
  color: var(--rose-mauve);
}

.address {
  text-align: center;
  padding: .5em 1em .5em 1em;
  margin: 1em;
  border-top: var(--dusty-blue) solid 1px;
  border-bottom: var(--dusty-blue) solid 1px;
  border-radius: 2em 0 2em 0;
}

.address>p {
  margin: 0;
}

.small {
  width: 27%;
  font-size: 10px;
  margin: 1em;
  margin-top: 1em;
  position: relative;
  left: 1em;
}

.small>.ay {
  left: -.25em;
}

.small>.ninth {
  left: -.25em;
}

.fifteenth {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 2em;
  position: relative;
  bottom: .8em;
  left: -.5em;
}

.time {
  color: var(--dark-grey);
  margin-top: 0em;
  margin-bottom: 0em;
}

/*    Photos Page   */
.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 1.3em;
}

.image-grid>img {
  width: 50%;
  border: var(--dusty-blue) solid 3px;
}

.image-grid>.large {
  width: 100%
}